<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{'coupon.new' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'coupon.new' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
    <ion-input
      [label]="'coupon.amount' | translate"
      label-placement="floating"
      type="number"
      fill="outline"
      [placeholder]="'coupon.placeholder' | translate"
      [helperText]="'coupon.helperText' | translate"
      [errorText]="(amountInput?.touched && !isMultipleOf25)
      ? ('coupon.errorText' | translate)
      : null"
      [(ngModel)]="couponAmount"
      #amountInput="ngModel"
      name="couponAmount"
      required
      min="25"
      inputmode="numeric"
      (ionChange)="onAmountChange($event)"
    >
    </ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-button [disabled]="!isMultipleOf25" id="open-toast" expand="block" (click)="createCoupon()">
        <ion-text>{{'coupon.save' | translate}}</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
