<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'scan.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'scan.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-margin">
    @for (item of scans; track $index) {
      <ion-col size="6" class="ion-text-center">
        <ion-card color="light" (click)="item.color === 'warning' ? scanCam() : null">
          <ion-thumbnail [style.background]="item.thumbnail">
            <ion-icon [name]="item.icon" [color]="item.color"></ion-icon>
          </ion-thumbnail>
          <ion-label>{{item.label | translate}}</ion-label>
        </ion-card>
      </ion-col>
    }
  </ion-row>

    <ion-toast 
  [isOpen]="isToast"
  [message]="toastData?.message | translate"
  [position]="'bottom'"
  [color]="toastData?.color"
  icon="checkmark-circle"
  [duration]="2000"
  (didDismiss)="isToast = !isToast"
  ></ion-toast>
</ion-content>
