<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Bienvenue sur la galerie photo !</h2>
  <p>
    Prenez, sauvegardez et visualisez vos photos préférées directement depuis votre appareil.
  </p>

  <ion-button expand="block" color="primary">
    Voir la galerie
  </ion-button>
  <ion-button expand="block" color="secondary">
    Ajouter une photo
  </ion-button>
</ion-content>