<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <h1>{{app}}</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="settings">
        <ion-icon  name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="none" class="ion-margin-vertical">
    <ion-label>{{'home.dashboard' | translate}}
      <p>
        <ion-text>
          CodeCraft
        </ion-text>
      </p>
    </ion-label>

    <ion-buttons slot="end">
      <ion-button routerLink="profile">
        <ion-icon id="profile" name="person-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-list-header>
    <ion-label>
      {{'home.yourOptions' | translate}}
    </ion-label>
  </ion-list-header>

  <ion-row class="ion-margin">
    @for (item of insightsTable; track $index) {
      <ion-col size="6" class="ion-text-center" [routerLink]="item.route">
        <ion-card color="light">
          <ion-thumbnail [style.background]="item.thumbnail">
            @if (item.route === 'history' || item.route === 'mycoupons') {
              <ion-badge>{{item.route === 'history' ? nbrCouponsHome : nbrMyCouponsHome}}</ion-badge>
            }
            <ion-icon [name]="item.icon" [color]="item.color"></ion-icon>
          </ion-thumbnail>
          <ion-label>{{item.label | translate}}</ion-label>
        </ion-card>
      </ion-col>
    }
  </ion-row>
</ion-content>
