<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{sectionName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>Apparance</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
        >Mode sombre</ion-toggle
      >
    </ion-item>
  </ion-list>
</ion-content>