<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'settings.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>{{'settings.appearance' | translate}}</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between"
        >{{'settings.darkMode' | translate}}</ion-toggle
      >
    </ion-item>
  </ion-list>
  <ion-list-header>{{'settings.language' | translate}}</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-select cancelText="{{ 'settings.cancel' | translate }}" 
  okText="{{ 'settings.ok' | translate }}" aria-label="Favorite Language" [value]="'settings.lang'|translate" (ionChange)="handleChange($event)">
        <ion-select-option value="fr">{{'settings.french' | translate}}</ion-select-option>
        <ion-select-option value="en">{{'settings.english' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>